*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: thorin;    
    color:black;
    }
    html,body{
    height: 100%;
    width: 100%;
    background-color: #F6F5F2;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    .un-container::-webkit-scrollbar{
        display: none;
    }
    .visit1 .h4{
        overflow: hidden;
    
        border: 1px solid black;
        
    }
    .visit1 .h4::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #111;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    }
    .center-visit1 .h4::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    }
    .visit1 .h4:hover::after{
        bottom: 0;
        border-radius: 0;
    }
    .visit1 .h4 a{
        text-decoration: none;
        color: #000000bb;
        position: relative;
        z-index: 9;
    }
    .visit1 .h4:hover a{
        color: white;
    }
    .visit1 .h4:hover i{
        color: white;
    }